.Home{
    position: relative;
    display: grid;
    grid-template-columns: 18rem auto 20rem;
    gap:1rem;
}

.Home {
  display: flex;
  flex-direction: row;
}

/* Default styles for all screen sizes */
.ProfileSide, .PostSide, .RightSide {
  flex: 1;
}

/* For mobile screens (max-width: 768px), show only the ProfileSide component */
@media screen and (max-width: 768px) {
  .Home {
    display: flex;
    flex-direction: column;
  }

  .ProfileSide {
    display: block; /* Show ProfileSide */
  }

  .PostSide, .RightSide {
    display: none; /* Hide PostSide and RightSide */
  }
}
